asgiref==3.2.10
certifi==2020.6.20
chardet==3.0.4
Django==3.1
django-classy-tags==2.0.0
django-cms==3.7.4
django-formtools==2.2
django-sekizai==2.0.0
django-treebeard==4.3.1
djangocms-admin-style==2.0.0
idna==2.10
multitasking==0.0.9
numpy==1.19.1
pandas==1.1.1
psycopg2==2.8.5
python-dateutil==2.8.1
pytz==2020.1
requests==2.24.0
simplejson==3.17.2
six==1.15.0
sqlparse==0.3.1
urllib3==1.25.10
yfinance==0.1.54
